.benefits__title-container {
  padding: 32px 18px 32px 18px;
}

.benefits__title {
  margin: 0;
  margin-bottom: 35px;
}

.benefits__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
}

.benefits__item--background-blue {
  color: $main-color-second;
  background-color: $main-color;
  display: flex;
  flex-wrap: wrap;
}

.benefits__item--background-blue .benefits__title-item {
  color: $main-color-second;
}

.benefits__item-container--first-element {
  padding: 54px 18px 40px 18px;
}

.benefits__title-item {
  margin: 0;
  margin-bottom: 11px;
}

.benefits__number {
  margin: 0;
  margin-bottom: 17px;
}

.benefits__description-item {
  margin: 0;
}

.benefits__image-container {
  width: 320px;
  height: 256px;
}

.benefits__list--internal {
  display: grid;
  padding: 23px 18px 46px 18px;
  text-align: start;
  row-gap: 49px;
}

.benefits__item--internal {
  padding: 8px 18px 0 65px;
}

.benefits__title--internal-list {
  margin: 0;
  margin-bottom: 16px;
}

.benefits__description--internal-list {
  margin: 0;
}

.benefits__item-container--second-blue-element {
  padding: 37px 18px 37px 18px;
}

.benefits__item--background-gray {
  background-color: $benefits-block;
}

.benefits__item-container--gray-element {
  padding: 24px 18px 24px 18px;
}
