// Общие стили блока преимуществ
.benefits__title-container {
  padding: 32px 18px 16px 18px;

  @media (min-width: $tablet-width) {
    max-width: 510px;
    padding: 48px 0 56px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 0 46px 0;
  }
}

.benefits__title {
  @include title();
  @include text-title();
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    @include text-big-bold();
    margin-bottom: 27px;
  }
}

.benefits__description {
  margin: 0;
}

.benefits__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 256px);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 400px);
  }
}

// Блоки с голубым фоном
.benefits__item--background-blue {
  color: $main-color-second;
  background-color: $main-color;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}

.benefits__item-container--blue-element {
  padding: 37px 18px;
  color: $main-color-second;

  @media (min-width: $tablet-width) {
    padding: 52px 35px 30px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px 50px;
  }
}

.benefits__item-container--first-element {
  padding-top: 70px;
  padding-bottom: 40px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
    padding-bottom: 29px;
  }
}

@media (max-width: $tablet-width) {
  .benefits__item-container--first-element::after {
    @include insert-icon-general();
    background-image: url("../../img/benefits-triangle-mobile.svg");
    background-size: 100% 37px;
    width: 100%;
    height: 37px;
    top: 0;
    right: 0;
  }
}

.benefits__item-container {
  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

// Оформление текста
.benefits__title-item {
  @include text-title();
  @include title();
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    @include text-big-bold();
    margin-bottom: 13px;
  }
}

.benefits__item-container--blue-element .benefits__title-item {
  color: $main-color-second;
}

.benefits__number {
  margin: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.benefits__description-item {
  margin: 0;
}

// Оформление текса, подгонка по PixelPerfect
@media (min-width: $tablet-width) {
  .benefits__title-item--feature {
    max-width: 130px;
    margin: 0 auto;
    margin-bottom: 13px;
  }

  .benefits__description-item--grey-feature {
    max-width: 180px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .benefits__title-item--blue-element-feature {
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 14px;
  }

  .benefits__description-item--blue-element-feature {
    max-width: 216px;
    margin: 0 auto;
  }

  .benefits__description-item--grey-feature {
    max-width: 300px;
    margin: 0 auto;
  }
}

.benefits__description br {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

// Оформление картинок
.benefits__image-container {
  width: 100%;
  height: 260px;

  @media (min-width: $tablet-width) {
    @include images();
    width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    @include images();
    width: 800px;
  }
}

.benefits__image {
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

// Внутренний список преимуществ (с иконками)
.benefits__list--internal {
  display: grid;
  padding: 23px 18px 46px 18px;
  text-align: start;
  row-gap: 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
    grid-template-columns: repeat(3, 256px);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-template-columns: repeat(3, 400px);
  }
}

.benefits__item--internal {
  padding-top: 8px;
  padding-left: 47px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-right: 33px;
    padding-left: 33px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 169px 50px 69px 50px;
  }
}

.benefits__title--internal-list {
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.benefits__description--internal-list {
  margin: 0 auto;
}

// Иконки и их расположение
@media (min-width: $mobile-width) {
  .benefits__item--house::before {
    @include insert-icon-general();
    @include insert-icon-mobile();
    background-image: url("../../img/mobile-icon-house.svg");
  }

  .benefits__item--food::before {
    @include insert-icon-general();
    @include insert-icon-mobile();
    background-image: url("../../img/mobile-icon-food.svg");
  }

  .benefits__item--souvenirs::before {
    @include insert-icon-general();
    @include insert-icon-mobile();
    background-image: url("../../img/mobile-icon-souvenirs.svg");
    left: 4px;
  }
}

@media (min-width: $tablet-width) {
  .benefits__item--house {
    padding-top: 159px;
    padding-bottom: 60px;
  }

  .benefits__item--house::before {
    @include insert-icon-general();
    background-image: url("../../img/tablet-icon-house.svg");
    width: 77px;
    height: 72px;
    top: 60px;
    left: 88px;
  }

  .benefits__item--food {
    padding-top: 157px;
    padding-bottom: 61px;
  }

  .benefits__item--food::before {
    @include insert-icon-general();
    background-image: url("../../img/tablet-icon-food.svg");
    width: 82px;
    height: 68px;
    top: 62px;
    left: 87px;
  }

  .benefits__item--souvenirs {
    padding-top: 154px;
    padding-bottom: 64px;
  }

  .benefits__item--souvenirs::before {
    @include insert-icon-general();
    background-image: url("../../img/tablet-icon-souvenirs.svg");
    width: 66px;
    height: 75px;
    top: 64px;
    left: 98px;
  }
}

@media (min-width: $desktop-width) {
  .benefits__item--house {
    padding-top: 169px;
    padding-bottom: 69px;
  }

  .benefits__item--house::before {
    @include insert-icon-general();
    top: 69px;
    left: 159px;
  }

  .benefits__item--food {
    padding-top: 166px;
    padding-bottom: 71px;
  }

  .benefits__item--food::before {
    @include insert-icon-general();
    top: 72px;
    left: 157px;
  }

  .benefits__item--souvenirs {
    padding-top: 170px;
    padding-bottom: 67px;
  }

  .benefits__item--souvenirs::before {
    @include insert-icon-general();
    top: 69px;
    left: 164px;
  }
}

// Блоки с серым фоном
.benefits__item--background-gray {
  background-color: $benefits-block;
}

.benefits__item-container--gray-element {
  padding: 24px 18px 26px 18px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 41px 33px 41px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 50px;
  }
}

@media (max-width: $tablet-width) {
  .benefits__item--background-gray:not(:last-of-type)::after {
    @include decoration-line();
    @include decoration-line-small();
  }
}

// Блоки с серым фоном, подгонка по PixelPerfect
@media (max-width: $tablet-width) {
  .benefits__item-container--gray-element-first {
    padding: 24px 26px;
  }

  .benefits__item-container--gray-element-second {
    padding: 24px 35px 26px 35px;
  }

  .benefits__item-container--gray-element-third {
    padding: 24px 35px 28px 35px;
  }
}

// Меняет местами картинку и блок с текстом
@media (min-width: $tablet-width) {
  .benefits__image-container--reverse {
    order: -1;
  }
}
