// Общие стили блока преимуществ
.benefits__title-container {
  padding: 32px 18px 16px 18px;

  @media (min-width: $tablet-width) {
    padding: 48px 33px 55px 33px;
  }

  @media (min-width: $tablet-width) {
    padding: 59px 50px 44px 50px;
  }
}

.benefits__title {
  margin: 0;
  margin-bottom: 35px;
}

.benefits__description {
  margin: 0;
}

.benefits__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 256px);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 400px);
  }
}

// Блоки с голубым фоном
.benefits__item--background-blue {
  color: $main-color-second;
  background-color: $main-color;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}

.benefits__item--background-blue .benefits__title-item {
  color: $main-color-second;
}

.benefits__item-container--blue-element {
  padding: 37px 18px;

  @media (min-width: $tablet-width) {
    padding: 52px 33px 31px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px 50px;
  }
}

.benefits__item-container--first-element {
  padding-top: 70px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
  }
}

@media (max-width: $tablet-width) {
  .benefits__item-container--first-element::after {
    content: "";
    position: absolute;
    background-image: url("../../img/benefits-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 37px;
    width: 100%;
    height: 37px;
    top: 0;
    right: 0;
  }
}

.benefits__item-container {
  @media (min-width: $tablet-width) {
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

// Оформление текста
.benefits__title-item {
  margin: 0;
  margin-bottom: 11px;
}

.benefits__number {
  margin: 0;
  margin-bottom: 17px;
}

.benefits__description-item {
  margin: 0;
}

// Оформление картинок
.benefits__image-container {
  width: 100%;
  height: 260px;

  @media (min-width: $tablet-width) {
    @include images();
    width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    @include images();
    width: 800px;
  }
}

.benefits__image {
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

// Внутренний список преимуществ (с иконками)
.benefits__list--internal {
  display: grid;
  padding: 23px 18px 46px 18px;
  text-align: start;
  row-gap: 49px;

  @media (min-width: $tablet-width) {
    padding: 0;
    grid-template-columns: repeat(3, 256px);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-template-columns: repeat(3, 400px);
  }
}

.benefits__item--internal {
  padding-top: 8px;
  padding-left: 47px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 158px 33px 60px 33px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 169px 50px 69px 50px;
  }
}

.benefits__title--internal-list {
  margin: 0;
  margin-bottom: 16px;
}

.benefits__description--internal-list {
  margin: 0;
}

// Иконки и их расположение
@media (min-width: $mobile-width) {
  .benefits__item--house::before {
    @include insert-icon-general();
    @include insert-icon-mobile();
    background-image: url("../../img/mobile-icon-house.svg");
  }

  .benefits__item--food::before {
    @include insert-icon-general();
    @include insert-icon-mobile();
    background-image: url("../../img/mobile-icon-food.svg");
  }

  .benefits__item--souvenirs::before {
    @include insert-icon-general();
    @include insert-icon-mobile();
    background-image: url("../../img/mobile-icon-souvenirs.svg");
  }
}

@media (min-width: $tablet-width) {
  .benefits__item--house::before {
    @include insert-icon-general();
    background-image: url("../../img/tablet-icon-house.svg");
    width: 77px;
    height: 72px;
    top: 60px;
    left: 88px;
  }

  .benefits__item--food::before {
    @include insert-icon-general();
    background-image: url("../../img/tablet-icon-food.svg");
    width: 82px;
    height: 68px;
    top: 62px;
    left: 87px;
  }

  .benefits__item--souvenirs::before {
    @include insert-icon-general();
    background-image: url("../../img/tablet-icon-souvenirs.svg");
    width: 66px;
    height: 75px;
    top: 64px;
    left: 98px;
  }
}

@media (min-width: $desktop-width) {
  .benefits__item--house::before {
    @include insert-icon-general();
    top: 69px;
    left: 159px;
  }

  .benefits__item--food::before {
    @include insert-icon-general();
    top: 72px;
    left: 162px;
  }

  .benefits__item--souvenirs::before {
    @include insert-icon-general();
    top: 69px;
    left: 159px;
  }
}

// Блоки с серым фоном
.benefits__item--background-gray {
  background-color: $benefits-block;
}

.benefits__item-container--gray-element {
  padding: 24px 18px 24px 18px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 41px 33px 63px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 50px;
  }
}

@media (max-width: $tablet-width) {
  .benefits__item--background-gray:not(:last-of-type)::after {
    @include decoration-line();
    @include decoration-line-small();
  }
}

// Меняет местами картинку и блок с текстом
@media (min-width: $tablet-width) {
  .benefits__image-container--reverse {
    order: -1;
  }
}
