.benefits {
  width: 100%;
}

.benefits__container {
  width: 284px;
}

.benefits__container--first-blue-element {
  padding-top: 54px;
  padding-bottom: 40px;
}

.benefits__title {
  margin: 0;
  margin-bottom: 35px;
  margin-top: 32px;
}

.benefits__description {
  margin: 0;
  margin-bottom: 32px;
}

.benefits__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
}

.benefits__image {
  display: block;
}

.benefits__item--background-blue {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 0;
}

.benefits__title-item {
  margin: 0;
  margin-bottom: 11px;
}

.benefits__number {
  margin: 0;
  margin-bottom: 17px;
}

.benefits__description-item {
  margin: 0;
}

.benefits__list--internal {
  display: grid;
  grid-row-gap: 25px;
  padding: 24px 0 46px 0;
  text-align: start;
}

.benefits__title--internal-list {
  margin-bottom: 16px;
}

.benefits__description--internal-list {
  margin-bottom: 0;
}

.benefits__container--second-blue-element {
  padding-top: 37px;
  padding-bottom: 37px;
}

.benefits__item--background-gray {
  background-color: #eeeeee;
  padding-top: 23px;
  padding-bottom: 23px;
}
