// сюда добавляется цвет переменной
.button {
  @include list-reset;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $main-color;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:disabled {
    background-color: #e5e5e5;
    color: #000000;
    cursor: default;
  }
}
