.button-like {
  width: 23px;
  height: 21px;
  border: none;
  background-image: url("/img/like-icon.svg");
  background-color: #ffffff;
}

.photo-card__like {
  display: flex;
  align-items: end;
}

.photo-card__button {
  padding-bottom: 5px;
}
