.button {
  @include text-big-bold();
  font-family: $main-font;
  text-decoration: none;
  color: $main-color-second;
  background-color: $main-color;
  padding: 16px;
  display: block;
  border: none;
  text-transform: uppercase;

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-active;
    color: $light-opacity;
  }

  &:disabled {
    background-color: $hover-form;
    color: $main-color-second;
  }
}
