.button {
  @include text-big-bold;
  font-family: $main-font;
  text-decoration: none;
  color: $main-color-second;
  background-color: $main-color;
  padding: 16px;
  display: block;
  border: none;
  text-transform: uppercase;
}
