// Расположение контента на странице
.feedback__container {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: $tablet-content;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-content;
  }
}

// Заголовок и описание страницы
.feedback__title-container {
  padding: 38px 0 27px 0;

  @media (min-width: $tablet-width) {
    max-width: 435px;
    padding-top: 63px;
    padding-bottom: 108px;
  }

  @media (min-width: $desktop-width) {
    padding: 115px 0 68px 0;
  }
}

.feedback__title {
  @include text-title();
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    @include text-extra-big();
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.feedback__description {
  margin: 0;
}

// Контейнер для форм
.feedback__form-container {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 295px 295px;
    column-gap: 58px;
    row-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 430px 430px;
    column-gap: 100px;
    row-gap: 46px;
  }
}

// Формы
.feedback__form {
  margin: 0;
  padding: 24px 0 40px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

// --формы, PixelPerfect
.feedback__form--contacts-feature {
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.feedback__form--impression-feature {
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
  }
}

.feedback__form--sight-feature {
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-top: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 27px;
  }
}

.feedback__form--emotions-feature {
  padding-bottom: 48px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
  }
}

// Кнопка Отправить отзыв и примечание
.feedback__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    grid-column: -1/1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    margin: 0 auto;
  }
}

.feedback__button {
  @media (min-width: $tablet-width) {
    min-width: 324px;
  }

  @media (min-width: $desktop-width) {
    min-width: 384px;
    margin-top: -5px;
  }
}

.feedback__note {
  @include text-extra-small();
  text-align: end;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include text-small();
  }
}

// Мелкие декоративные элементы
.feedback__form--first-part {
  position: relative;
}

// --горизонтальная линия в mobile
@media (max-width: $tablet-width) {
  .feedback__form::before {
    @include decoration-line();
    @include decoration-line-big();
    top: 0;
  }
}

// --горизонтальная линия между ФИО и Контактами в tablet
@media (min-width: $tablet-width) {
  .feedback__form--first-part::after {
    @include decoration-line();
    height: calc(100% + 14px);
    width: 1px;
    top: -7px;
    right: -28.5px;
  }
}

// --горизонтальная линия между ФИО и Контактами в desktop
@media (min-width: $desktop-width) {
  .feedback__form--first-part::after {
    right: -49.5px;
  }
}
