// Общие стили
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $mobile-content-inner;

  @media (min-width: $tablet-width) {
    width: $tablet-content;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-content;
  }
}

.footer--gallery {
  @media (min-width: $tablet-width) {
    padding-top: 76px;
    padding-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;
  }
}

.footer--form {
  @media (min-width: $tablet-width) {
    padding-top: 100px;
  }
}

// Hashtag
.footer__hashtag-text {
  @include text-big-bold();
  margin: 0;
  padding-top: 41px;
  padding-bottom: 28px;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    padding: 0;
    text-align: start;
    max-width: 136px;
  }
}

.footer__hashtag-text--form {
  padding-top: 59px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

// Copyright
.footer__copyright {
  padding: 31px 18px 33px 18px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 130px;
  }
}

.footer__copyright-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}

.footer__copyright-text {
  align-self: center;
  margin-right: 12px;
  color: $title-color;
  text-align: end;
  max-width: 90px;
}

.footer__copyright-icon {
  fill: $title-color;
  width: 27px;
  align-self: center;
}

// Состояния copyright
.footer__copyright-link:hover .footer__copyright-icon {
  fill: $main-color;
}

.footer__copyright-link:hover .footer__copyright-text {
  color: $main-color;
}

.footer__copyright-link:active .footer__copyright-icon {
  fill: $copyright-active;
}

.footer__copyright-link:active .footer__copyright-text {
  color: $copyright-active;
}
