.footer__hashtag-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 33px;
  padding-bottom: 30px;
}

.footer__copyright {
  padding: 30px 18px 33px 18px;
  display: flex;
  justify-content: center;
}

.footer__copyright-text {
  align-self: center;
  margin-right: 12px;
}
