.gallery__container {
  width: $mobile-content-inner;

  @media (min-width: $tablet-width) {
    width: $tablet-content;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.gallery__title-container {
  padding: 39px 0 60px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 458px;
    margin: 0 auto;
    padding-top: 61px;
    padding-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

@media (max-width: $tablet-width) {
  .gallery__title-container::after {
    @include decoration-line();
    @include decoration-line-big();
    bottom: 25px;
  }
}

.gallery__title {
  @include text-title();
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    @include text-extra-big();
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }
}

.gallery__description {
  margin: 0;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  row-gap: 50px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  position: relative;
}

@media (max-width: $tablet-width) {
  .gallery__item::after {
    @include decoration-line();
    @include decoration-line-big();
    bottom: -25px;
  }
}
