.gallery__container {
  width: $mobile-content-inner;

  @media (min-width: $tablet-width) {
    width: $tablet-content;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.gallery__title-container {
  padding: 37px 0 50px 0;

  @media (min-width: $tablet-width) {
    padding: 66px 0 67px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 65px 0;
    width: 800px;
    margin: 0 auto;
  }
}

.gallery__title {
  @include text-extra-big;
  margin: 0;
  margin-bottom: 37px;
}

.gallery__description {
  margin: 0;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  row-gap: 50px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
