// .hero {
//   position: relative;
// }

.hero__container {
  @include images();
  width: $mobile-width;
  background-image: url("../../img/background-image-main.jpg");
  color: $main-color-second;
  padding-top: 91px;
  padding-bottom: 85px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-top: 77px;
    padding-bottom: 91px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

// .hero__container::after {
//   content: "";
//   position: absolute;
//   background-image: url("../../img/intro-triangle.svg");
//   background-repeat: no-repeat;
//   background-position: center;
//   width: 1200px;
//   height: 57px;
//   bottom: 0;
//   right: 0;
// }

.hero__text-container {
  width: $mobile-content-main;
  height: 214px;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }
}
