.hero__container {
  @include images;
  width: 100%;
  background-image: url("../../img/background-image-main.jpg");
  color: $main-color-second;
  padding-top: 91px;
  padding-bottom: 85px;
}

.hero__text-container {
  width: 284px;
  $mobile-content-main: 284px;
  height: 214px;
}
