.hero__container {
  width: 100%;
  background-color: #5496bd;
  background-image: url(../../img/background-image-main.jpg);
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 91px;
  padding-bottom: 85px;
}

.hero__text-container {
  width: 284px;
  height: 214px;
}
