.inner-hero {
  @include images;
  background-image: url("../../img/inner-hero-background.jpg");
  padding-top: 51px;
  padding-bottom: 67px;

  @media (min-width: $tablet-width) {
    padding: 95px 154px 117px 157px;
  }

  @media (min-width: $desktop-width) {
    padding: 103px 370px 120px 370px;
  }
}

.inner-hero__container {
  width: 229px;
  height: 39px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;
  }
}
