.inner-hero {
  @include images;
  background-image: url("../../img/inner-hero-background.jpg");
  padding-top: 51px;
  padding-bottom: 67px;
}

.inner-hero__container {
  width: 229px;
  height: 39px;
  margin: 0 auto;
}
