.inner-hero {
  background-color: #5496bd;
  background-image: url("/img/inner-hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 67px;
}

.inner-hero__container {
  width: 229px;
  height: 39px;
  margin: 0 auto;
}
