.modal__container {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 320px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__content {
  position: relative;
  margin: auto;
  padding: 45px 42px 35px 41px;
  width: 320px;
  background-color: #ffffff;
}

.modal__container--error-close {
  display: none;
}

.modal__container--success-close {
  display: none;
}

.modal__title {
  margin: 0;
  margin-bottom: 25px;
}

.modal__description {
  margin: 0;
  margin-bottom: 28px;
}

.modal__button {
  border: none;
}

.modal__button--error {
  width: 180px;
  margin: 0 auto;
}
