// Общие стили модальных окон
.modal__container {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $dark-opacity;
  z-index: 20;
}

.modal__content {
  position: relative;
  margin: auto;
  width: $mobile-width;
  background-color: $main-color-second;
}

.modal__title {
  @include text-title();
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include text-extra-big-modal();
    margin-bottom: 23px;
  }
}

.modal__description {
  margin: 0;
}

// Контент модального окна с ошибкой
.modal__content--error {
  padding: 45px 42px 35px 41px;

  @media (min-width: $tablet-width) {
    width: 400px;
    padding: 50px 47px 49px 46px;
  }
}

.modal__description--error {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }
}

// Контент модального окна с успешной отправкой отзыва
.modal__content-text {
  padding: 39px 39px 51px 37px;

  @media (min-width: $tablet-width) {
    padding: 50px 99px 46px 97px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
    padding-bottom: 55px;
  }
}

.modal__content--success {
  @media (min-width: $tablet-width) {
    width: 640px;
  }
}

// Кнопка модального окна
.modal__content-button {
  padding: 20px;
  background-color: $input-background;

  @media (min-width: $tablet-width) {
    padding: 44px 91px;
  }
}

.modal__button {
  @include text-title();
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include text-big-bold();
  }
}

.modal__button--error {
  width: 180px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 272px;
  }
}

.modal__button--success {
  width: $mobile-content-inner;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}

// Показывает/скрывает модальное окно с ошибкой
.modal__container--error-close {
  display: none;
}

// Показывает/скрывает модальное окно "отзыв отправлен"
.modal__container--success-close {
  display: none;
}
