.modal__container {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $modal-wrapper;
}

.modal__content {
  position: relative;
  margin: auto;
  padding: 45px 42px 35px 41px;
  width: $mobile-width;
  background-color: $main-color-second;
}

.modal__content--error {
  @media (min-width: $tablet-width) {
    width: 400px;
  }
}

.modal__content--success {
  @media (min-width: $tablet-width) {
    width: 640px;
  }
}

.modal__container--error-close {
  display: none;
}

.modal__container--success-close {
  display: none;
}

.modal__title {
  margin: 0;
  margin-bottom: 25px;
}

.modal__description {
  margin: 0;
  margin-bottom: 28px;
}

.modal__button {
  @include text-title;
}

.modal__button--error {
  width: 180px;
  margin: 0 auto;
}
