.photo-card {
  text-align: start;
}

.photo-card__container {
  width: 280px;
  height: 280px;
  margin-bottom: 25px;
}

.photo-card__image {
  @include images;
}

.photo-card__title {
  @include text-small;
  margin: 0;
  margin-bottom: 1px;
}

.photo-card__author {
  text-transform: none;
  margin: 0;
  margin-bottom: 11px;
}

.photo-card__description {
  display: grid;
}

.photo-card__like {
  display: flex;
}

.photo-card__button {
  padding-bottom: 5px;
  margin-right: 15px;
}

.photo-card__number-likes {
  font-weight: 700;
}
