.presentation__container {
  width: $mobile-content-inner;

  @media (min-width: $tablet-width) {
    width: $tablet-content;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.presentation__title-container {
  padding: 43px 0 38px 0;

  @media (min-width: $tablet-width) {
    padding: 58px 0 66px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 0 64px 0;
  }
}

.presentation__title {
  @include text-extra-big;
  margin: 0;
  margin-bottom: 27px;
}

.presentation__description {
  margin: 0;
}

.presentation__image-container {
  position: relative;
  width: $mobile-content-inner;
  height: 177px;
  background-color: $background-image-color;

  @media (min-width: $tablet-width) {
    width: $tablet-content;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.presentation__image {
  @include images();
  width: 100%;
  height: auto;
}

.presentation__button {
  position: absolute;
  background-image: url("../../img/video-button-icon.svg");
  width: 48px;
  height: 54px;
  background-color: transparent;
  border: none;
  top: 50%;
  margin-top: -24px;
  right: 50%;
  margin-right: -27px;
  padding: 0;
}
