.presentation__container {
  width: 280px;
}

.presentation__title {
  margin-top: 43px;
  margin-bottom: 27px;
}

.presentation__description {
  margin: 0;
  margin-bottom: 38px;
}

.presentation__image-container {
  position: relative;
  width: 280px;
  height: 177px;
  background-color: $background-image-color;
}

.presentation__image {
  @include images;
}

.presentation__button {
  position: absolute;
  background-image: url("../../img/video-button-icon.svg");
  width: 48px;
  height: 54px;
  background-color: transparent;
  border: none;
  top: 50%;
  margin-top: -24px;
  right: 50%;
  margin-right: -27px;
  padding: 0;
}
