.search__container {
  padding-top: 38px;
  padding-bottom: 49px;
  width: 284px;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}

.search__title {
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    @include text-extra-big();
  }
}

.search__description {
  margin: 0;
  margin-bottom: 32px;
}
