.social__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

.social__item {
  width: 48px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  padding: 12px;
}
