.social__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

.social__item {
  width: 48px;
  height: 48px;
  margin-right: 6px;
  background-color: $main-color;
  cursor: pointer;

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-active;
  }
}

.social__link-icon {
  fill: $main-color-second;
}

.social__link:active .social__link-icon {
  opacity: 0.3;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  padding: 12px;
}
