.subscribe__container {
  padding-top: 38px;
  padding-bottom: 49px;
  width: 284px;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}

.subscribe__title {
  @include text-extra-big;
  margin: 0;
  margin-bottom: 21px;
}

.subscribe__description {
  margin: 0;
  margin-bottom: 32px;
}
