// Цвет
$main-color: #81b3d2;
$benefits-block: #eeeeee;
$main-color-second: #ffffff;
$input-background: #f2f2f2;
$background-image-color: #5496bd;
$modal-wrapper: rgba(0, 0, 0, 0.3);
$title-color: #000000;
$description-color: #333333;
$page-shadow: rgba(0, 1, 1, 0.2);

// Шрифт
$main-font: "PT Sans", "Arial", sans-serif;

// Размеры viewport
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-container: 284px;
