// Цвет
$main-color: #81b3d2;
$benefits-block: #eeeeee;
$main-color-second: #ffffff;
$input-background: #f2f2f2;
$background-image-color: #4c77a1;
$title-color: #000000;
$description-color: #333333;
$page-shadow: rgba(0, 1, 1, 0.2);
$hover-main-color: #669ec0;
$active-main-color: #5496bd;
$leght-opacity: rgba(255, 255, 255, 0.3);
$dark-opacity: rgba(0, 0, 0, 0.3);
$current-link: #766357;
$color-block-gallery: #eaeaea;

// Шрифт
$main-font: "PT Sans", "Arial", sans-serif;

// Размеры viewport
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-content-inner: 280px;
$mobile-content-main: 284px;
$tablet-content: 648px;
$desktop-content: 960px;
